<h1>Hosting room {{roomName}}</h1>
<p>Participants can join at <a href="{{joinUrl}}" target="_blank">{{joinUrl}}</a></p>
<qrcode url="{{joinUrl}}"></qrcode>
<section>
  <h1>Pending Participants</h1>
  <ul ng-repeat="person in pendingPeople">
    <li>
      {{person.name}}
      |
      <button ng-click="accept(person.ref)">Accept</button>
      <button ng-click="reject(person.ref)">Reject</button>
    </li>
  </ul>
</section>
<section ng-controller="activeParticipants">
  <h1>Active Participants</h1>
  <ul ng-repeat="person in guests">
    <li>{{person.name}}</li>
  </ul>
</section>
