@import '../bower_components/normalize.css/normalize.css';

@mixin main-section() {
	text-align: center;
	background-color: #1a7939;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px;
	padding: 20px;
}

html,
body {
	background: black;
	color: #fff;
	font-size: 20px;
}

:link,
:visited {
	color: inherit;
}

header {
	display: block;
	background: black;
	overflow: hidden;
	padding: 10px;
	color: #eee;

	h1 {
		margin: 15px 0;
		font-size: 40px;
	}
	p {
		font-size: 20px;
	}
	img {
		float: right;
	}

}

qrcode {
	padding: 5px;
	display: block;
	background: white;
	width: 200px;
	height: 200px;
	margin: 10px auto;
	canvas {
		width: 100%;
		height: 100%;
	}
}

h1,
h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 0.5em;
}

body > main {
	overflow: hidden;
	.sidebar {
		@include main-section;
		width: 400px;
		background: rgba(128, 128, 128, 0.5);
		overflow: hidden;
		float: right;
		@media (max-width: 800px) {
			float: none;
			width: auto;
			&.collapsed {
				cursor: pointer;
				&:before {
					content: "Show participant list";
				}
				> * {
					display: none;
				}
			}
		}
	}
}

button {
	color: #000;
	border: 2px solid #000;
	padding: 0.2em 0.4em;
	background: #666666;
}

button.reject {
	background: #AA6666;
}

button.accept {
	background: #66AA66;
}

input,
input[type=submit],
button {
	font-size: 14px;
	padding: 10px;
	display: inline-block;
	color: black;
}

h1 {
	font-size: 25px;

}

ul,
p {
	margin: 0.3em 0;
}

li {
	text-align: left;
}

.main {
	@include main-section();
}

footer {
	@include main-section();
	font-size: 14px;
}

.loading {
	background: url('/img/ajax-loader.gif') no-repeat center 60px #1a7939;
	@include main-section();
	min-height: 100px;
	&:before {
		content: 'Loading';
		margin-bottom: 100px;
	}
	> * {
		display: none;
	}
}
