@mixin main-section() {
	text-align: center;
	background-color: #1a7939;
	border-radius: 20px;
	overflow: hidden;
	margin: 20px;
	padding: 20px;
}

html,
body {
	background: black;
	color: #fff;
	font-size: 20px;
}

:link,
:visited {
	color: inherit;
}

header {
	display: block;
	background: black;
	overflow: hidden;
	padding: 10px;
	color: #eee;

	h1 {
		margin: 15px 0;
		font-size: 40px;
	}
	p {
		font-size: 20px;
	}
	img {
		float: right;
	}

}

qrcode {
	padding: 5px;
	display: block;
	background: white;
	width: 200px;
	height: 200px;
	margin: 10px auto;
	canvas {
		width: 100%;
		height: 100%;
	}
}

h1,
h2 {
	font-size: 25px;
	font-weight: normal;
	margin: 0.5em;
}

body > main {
	overflow: hidden;
	.sidebar {
		@include main-section;
		width: 400px;
		background: #404040;
		overflow: hidden;
		float: right;
		ul,
		li {
			margin: 0;
			padding: 0;
		}
		li {
			min-height: 40px;
			list-style: none;
			overflow: auto;
			.avatar {
				margin-right: 5px;
				font-size: 28px;
				vertical-align: middle;
			}
		}
		@media (max-width: 800px) {
			float: none;
			width: auto;
			&.collapsed {
				cursor: pointer;
				&:before {
					content: "Show participant list";
				}
				> * {
					display: none;
				}
			}
		}
	}
}

button {
	float: right;
	color: #000;
	border: 2px solid #000;
	padding: 0.2em 0.4em;
	margin-left: 0.2em;
	background: #666666;
	&.reject {
		background: #AA6666;
	}
	&.accept {
		background: #66AA66;
	}
}

input,
input[type=submit],
button {
	font-size: 14px;
	padding: 10px;
	display: inline-block;
	color: black;
}

h1 {
	font-size: 25px;

}

ul,
p {
	margin: 0.3em 0;
}

li {
	text-align: left;
}

.main {
	@include main-section();
}

footer {
	@include main-section();
	font-size: 14px;
}

.loading {
	background: url('/img/ajax-loader.gif') no-repeat center 60px #1a7939;
	@include main-section();
	min-height: 100px;
	&:before {
		content: 'Loading';
		margin-bottom: 100px;
	}
	> * {
		display: none;
	}
}

.iconpicker {
	display: inline-block;
	* {
		text-align: center;
		font-size: 28px;
	}
	.current {
		padding: 5px;
		vertical-align: middle;
		cursor: pointer;
		background: #404040;
		border-radius: 4px;
	}
	.picker {
		width: 170px;
		background: #404040;
		border: 2px solid #ffffff;
		position: absolute;
		left: 50%;
		margin-top: 6px;
		padding: 5px;
		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
		li {
			display: inline-block;
			padding: 6px;
			color: #999;
			cursor: pointer;
			&:hover {
				color: #fff;
			}
		}
	}
}
