doctype HTML
html(ng-app="pp")
    head
        title= "Planning Poker"
        script(src="/socket.io/socket.io.js")
        script.
            window.config = {port: #{config.port}}
        link(rel='stylesheet', href='/style.css')
        script(src='/app.js')

    body(ng-view)
        h1= "Planning Poker by Do Right Digital"
        p= "An interactive game of planning poker designed for remote teams."
