doctype HTML
html
    head
        title= "Planning Poker"
        script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js', data-main='//dorightdigital.com/resources/code/DomWidgets.js')
        link(rel='stylesheet',href='/src/style.css')
    body(data-dom-widget='pageTurner hostRoomWhenReady')
        h1= "Start a planning poker room"
        input(data-dom-widget='setupRoom', placeholder='Room Name')
