<aside class="sidebar" ng-if="roomReady">
  <section ng-if="pendingPeople.length > 0" class="pendingPeople">
    <h2>Pending Participants</h2>
    <ul ng-repeat="person in pendingPeople" id="pending">
      <li person-name="{{person.name}}">
        <span class="icon-{{person.icon}}-line avatar"></span>
        <span class="name">{{person.name}}</span>
        <button ng-click="accept(person.ref)" class="accept">Accept</button>
        <button ng-click="reject(person.ref)" class="reject">Reject</button>
      </li>
    </ul>
  </section>
  <section>
    <guestlist/>
  </section>
  <section>

    <h2>Invite participants:</h2>

    <p><a href="{{joinUrl}}" id="joinLink" target="_blank">{{joinUrl}}</a></p>
    <qrcode url="{{joinUrl}}"></qrcode>
  </section>
</aside>
<div class="main">
  <form name="cr" ng-submit="createRoom(cr.roomName)" ng-if="!roomReady">
    <h1>Start a planning poker room</h1>

    <p><input id="roomName" ng-model='cr.roomName' placeholder='Room Name'/><input type="submit" value="Create Room"/>
  </form>

  <h1 ng-if="roomReady">Hosting room {{roomName}}</h1>
  <p ng-if="!allowVote && roomReady">
    Next Step: invite others to join using the link or QR code provided.
    When someone requests to join the room you'll be alerted, accept them and you'll be
    ready to start planning.
  </p>
  <section ng-if="allowVote">
    <form name="newVote" ng-submit="requestVote(newVote.name)" ng-controller="requestVote">
      <h1>Request a vote</h1>
      <input ng-model="newVote.name" id="voteName" placeholder="Task name" required/>
      <input type="submit" id="requestVote" value="Request"/>
      <div ng-switch="result">
        <div ng-switch-when="unan">
          <h1 class="vote-summary">Everyone voted {{resultValue}}</h1>
        </div>
        <div ng-switch-when="mixed">
          <h1 class="vote-summary">Vote was not unanimous</h1>
          <ul ng-repeat="result in resultList">
            <li>{{result}}</li>
          </ul>
        </div>
        <div ng-switch-when="pending">
          <voteprogress/>
          <h3>Voted:</h3>
          <ul ng-repeat="name in voters">
            <li>{{name}}</li>
          </ul>
        </div>
      </div>
    </form>
  </section>
</div>
